/*@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');*/
h1{
    color:rgb(56, 30, 108) ;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#temp-form{
    align-items: center;
    border: rgb(69, 4, 219);
}

.container{
    margin-top: 100px;
}

.card{
    padding: 8%
}
/* Curved border */
.card,.form-control,.form-select,.input-group-text,.calculateBtn,option{
    border-radius: 20px;
    background-color: rgb(75 191 193 / 73%);
}

.calculateBtn{
    color: #7e1f1f;
}